.profileWrapper {
    display: flex;
    width: 70%;
    margin: 20px auto;
    /* align-items: center; */
}

@media (max-width: 768px) {
    .profileWrapper {
        flex-direction: column;
    }
}

.leftSideDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    align-items: center;
}

.leftSideDescription div {
    margin-top: 12px;
}

.folowingWrapper {
    display: flex;
}

.leftSideDescription img {
    width: 300px;
    height: auto;
    border-radius: 100%;
}

.mainSideDescription {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    height: 300px;
}

.rightSide {
    display: flex;
    flex-direction: column;
}