.header {
    width: 100%;
    /* z-index: 32; */
    display: flex;
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    color: white;
    background-color: #161b22;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .wrapperInput {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        height: 80px;
    }
}


.usersSearch {
    overflow-y: scroll;
    height: 300px;
    width: 300px;
    position: absolute;
    background: wheat;
    top: 37px;
}

@media (max-width: 450px) {
    .usersSearch {
        right: 0px;
    }
}


.wrapperInput {
    position: relative;
    display: flex;
    margin-left: 10px;
}

.image {
    width: 50px;
    height: 50px;
}

.itemWrap {
    display: flex;
    justify-content: space-around;
}